<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <section id="abt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted"></h3>              
                    <div class="row">
                        <div class="col-sm-2 team-member">
                            <img src="img/profile.jpg" class="img-responsive img-circle" alt="">
                        </div>
                        <div class="col-sm-10 about">
                            <p class="text-muted">I am a coding enthusiast who likes building web apps. After graduating with a Master's degree in Computer Science,
                                I was working as a Java Developer which involved maintenance, development and improvisation of
                                enterprise web applications in Finance and Logistics domains. This led me to learn and explore
                                other full stacks.</p>

                            <p class="text-muted">I recently graduated from Coding Dojo, Silicon Valley bootcamp and I am excited to enter the world
                                of latest web technologies. I dedicated 1000+ hours learning MEAN and Python full stack as well
                                as creating iOS apps using Swift in 3 months. </p>

                            <p class="text-muted">I love to travel, dance , try new drinks and code! Get in touch to know more about me.</p>
                        </div>
                    </div>
                    <div>
                        <ul class="list-inline social-buttons">
                            <li>GITHUB</li>
                            <li><a href="https://github.com/jinalpatel29" target="_blank"><i class="fa fa-github"></i></a>
                            </li>
                            <li>LINKEDIN</li>
                            <li><a href="https://www.linkedin.com/in/jinalpatel29/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>ANGEL LIST</li>
                            <li><a href="https://angel.co/jinal-patel-10" target="_blank"><i class="fa fa-angellist"></i></a>
                            <li>EMAIL</li>
                            <li><a href="mailto:jinypatel@gmail.com" title="jinypatel@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div> 
                <br>
                    <p> <i class="fa fa-file-pdf-o"></i> <a href="img/about/JINAL_PATEL_Resume.pdf" download>RESUME</a></p>
                </div>
            </div>
        </div>
  
    </section>
</body>

</html>