<!-- Contact Section -->
<section id="contact" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact</h2>
                <h3 class="section-subheading text-muted">Feel free to get in touch with me about any opportunities.</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://github.com/jinalpatel29" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </a>
                    <a href="https://github.com/jinalpatel29" target="_blank">
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="sub-heading text-muted">Github</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="https://www.linkedin.com/in/jinalpatel29/" target="_blank">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jinalpatel29/" target="_blank">
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="sub-heading text-muted">LinkedIn</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a class="page-scroll">
                        <i class="fa fa-circle fa-stack-2x text-primary "></i>
                    </a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jinypatel@gmail.com" target="_blank">
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="sub-heading text-muted">Email</h4>
            </div>
        </div>

    </div>
</section>