<div id="portfolioModal1" class="portfolio-modal modal fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Loveful App</h2>
                            <p class="item-intro text-muted">Technologies used: Express.js, Node.js, Typescript, Angular 4, Bootstrap 4, MongoDB</p>
                            <div class ="video-container">
                               <iframe width="560" height="315" src="https://www.youtube.com/embed/bJcmxzl58w0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <p> Loveful app is a web applcation that allows love ones to keep in touch or recommends events from partner interests. Main goal behind this app was improve relationship by doing little things in this busy work life.</p>
                            <p>Primarily responsible for making boilerplate to start with, Login, Registration, Email, Requests, and some cosmetic changes.</p>
                            <p>
                                <!-- Website : <a href="http://our.herokuapp.com/" target="_blank">Loveful APP</a> <br> -->
                                Code    : <a href="https://github.com/jinalpatel29/coding_rocks" target="_blank">GITHUB</a>
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>