<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Book and Review</h2>
                            <p class="item-intro text-muted">Technologies used: Python, Django, SQLite, HTML, CSS, Bootstrap </p>
                            <div class="video-container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/71w5-JxBmu0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  </div>
                            <p>Book and Review is a Django web app where logged in users can view and add book reviews. A user should also be able to delete his/her own reviews.
                             </p>
                                Code :
                                <a href=https://github.com/jinalpatel29/belt_reviewer" target="_blank">GITHUB</a>
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>