<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Friendship App</h2>
                            <p class="item-intro text-muted">Technologies used: Python, Django, SQLite, JavaScript, jQuery, HTML, CSS, Bootstrap</p>
                            <div class="video-container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_GIdo41t6-M" frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                            </div>
                            <p>Friendship app is a web application that allows users to create account and add friends. This app was built in 3 hours 
                                using python Django framework to implement Many to Many relationship on one table with CRUD operations.
                            </p>
                          
                            <p>
                                <!-- Website :
                                <a href="http://our.herokuapp.com/" target="_blank">Friendship APP</a> -->
                                <br> Code :
                                <a href="https://github.com/jinalpatel29/jp_belt_exam" target="_blank">GITHUB</a>
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                </i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
