<!-- Services Section -->
<section id="skills">  
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted"></h3>
                <div class="container">
                    <div class="row">                      
                        <div class="col-lg-2 col-md-4 text-left ">                                                    
                            <div class="service-box">                               
                                <h3 class="service-heading">Languages</h3>
                                <ul>
                                    <li class="text-muted">Java</li>
                                    <li class="text-muted">Python</li>
                                    <li class="text-muted">JavaScript</li>
                                    <li class="text-muted">TypeScript</li> 
                                    <li class="text-muted">Swift</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 text-left ">
                            <div class="service-box ">
                                <h3 class="service-heading">Front End</h3>
                                <ul>
                                    <li class="text-muted">HTML</li>
                                    <li class="text-muted">CSS</li>
                                    <li class="text-muted">JQuery</li>
                                    <li class="text-muted">Ajax</li>
                                    <li class="text-muted">Angular</li>
                                    <!-- <li class="text-muted ">Materialize</li> -->
                                    <li class="text-muted">Bootstrap</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 text-left">
                            <div class="service-box">
                                <h3 class="service-heading">Back End</h3>
                                <ul>
                                    <li class="text-muted">Spring</li>                                  
                                    <li class="text-muted">Django</li>
                                    <li class="text-muted">Flask</li>
                                    <li class="text-muted">Express.js</li>
                                    <li class="text-muted">Node.js</li>
                                    <li class="text-muted">AWS EC2</li>                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 text-left">
                            <div class="service-box ">
                                <h3 class="service-heading">Databases</h3>
                                <ul>
                                    <li class="text-muted">MySQL</li>
                                    <li class="text-muted">Oracle</li>
                                    <li class="text-muted">MongoDB</li>
                                    <li class="text-muted">Mongoose</li>
                                    <li class="text-muted">Postgres</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 text-left">
                            <div class="service-box">
                                <h3 class="service-heading">Software</h3>
                                <ul>
                                    <li class="text-muted">Visual Studio</li>
                                    <li class="text-muted">Eclipse</li>
                                    <li class="text-muted">Xcode</li>
                                    <li class="text-muted">Git</li>
                                    <li class="text-muted">SVN</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 text-left">
                            <div class="service-box">
                                <h3 class="service-heading">Miscellaneous</h3>
                                <ul>
                                    <li class="text-muted">Scrum</li>
                                    <li class="text-muted">Agile</li>
                                    <li class="text-muted">Jenkins</li>
                                    <li class="text-muted">Jira</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>